# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
/*

!/.gitconfig
!/.gitignore

!/.emacs.d
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/early-init.el

!/.emacs.d/eshell
/.emacs.d/eshell/*
!/.emacs.d/eshell/alias
