[core]
    autocrlf = false
    pager = delta

[pull]
	ff = only

[init]
	defaultBranch = main

[user]
	name = sharkdad
	email = 46014430+sharkdad@users.noreply.github.com

[github]
    user = sharkdad

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

[merge]
    conflictStyle = zdiff3
